# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ExaminationRooms.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\01149387\RiderProjects\2021l_uaim_lab\Laboratorium\ExaminationRoomsSol\ExaminationRooms\.idea\.idea.ExaminationRooms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
