# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Doctors.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\01149387\RiderProjects\2021l_uaim_lab\Laboratorium\DoctorsSol\Doctors\.idea\.idea.Doctors\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
