# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ExaminationRoomsSelector.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\01149387\RiderProjects\2021l_uaim_lab\Laboratorium\ExaminationRoomsSelectorSol\ExaminationRoomsSelector\.idea\.idea.ExaminationRoomsSelector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
