# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ZsutPwPatterns.WindowsApplication.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dadura\RiderProjects\2021l_uaim_lab\Klient\.idea\.idea.ZsutPwPatterns.WindowsApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
